body{
    background: rgba(112, 112, 112, 0.432);
}
.block{
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 160px;
}
.card{
    width: 300px;
    border-radius: 10px;
    height: 100px;
    padding: 20px;
    background: red;
    transition: all 0.6s ease-in-out;
}










.bt1, .bt2, .bt3{
    border: none;
    background: brown;
    color: whitesmoke;
    height: 20px;
    transition: all 0.6s ease-in-out;
    width: 100px;
    padding: 5px;
    outline: none;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

.card:hover .bt1{
    border-right: 1px solid black;
    transition: all 0.6s ease-in-out;
}
.card:hover .bt3{
    border-left: 1px solid black;
    transition: all 0.6s ease-in-out;
}




.card:hover{
    /* transform: rotate(90deg); */
    transition: all 0.6s ease-in-out;
}